<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Bonafied</title>
  </head>
  <body>
    <%- include("../components/user-header");-%>
    <div class="container" id="bonafied">
      <div class="get-bonafied">
        <span class="status"> </span>
        <button onclick="event.preventDefault();getBonafied()">
          Get Bonafied
        </button>
      </div>
      <div class="all-bonafides">
        <table>
          <thead>
            <th>File Name</th>
            <th>Date</th>
            <th>Action</th>
          </thead>
          <tbody>
            <%if(data===null){%>
            <tr>
              <td>No Bonafides</td>
            </tr>
            <%}%> <%if (data!=null) {%> <%data.forEach(val=>{%>
            <tr>
              <td><%=val.filename%></td>
              <td><%=val.date%></td>
              <td>
                <a href="<%=val.path%>" class="download" download
                  >Download</a
                >
                <a href="http://localhost:5000/api/deletebonafied/<%=val.id%>" class="delete">Delete</a>
              </td>
            </tr>
            <%})%> <%}%>
          </tbody>
        </table>
      </div>
    </div>
  </body>
  <script src="/js/getbonafied.js"></script>
</html>
