<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>profile</title>
  </head>
  <body>
    <%-include("../components/user-header");-%>
    <div class="wrapper" id="profile">
      <div class="container" >
        <div class="fields">
          <label>Name:</label>
          <input type="text" value="<%=data.name%>" disabled />
        </div>
        <div class="fields">
          <label>Father Name:</label>
          <input type="text" value="<%=data.fathername%>" disabled />
        </div>
        <div class="fields">
          <label>addmission No. :</label>
          <input type="text" value="<%=data.rollno%>" disabled />
        </div>
        <div class="fields">
          <label>Program:</label>
          <input type="text" value="<%=data.program%>" disabled />
        </div>
        <div class="fields">
          <label>Branch:</label>
          <input type="text" value="<%=data.branch%>" disabled />
        </div>
        <div class="fields">
          <label>Sem:</label>
          <input type="text" value="<%=data.sem%>" disabled />
        </div>
        <div class="fields">
          <label>Batch:</label>
          <input type="text" value="<%=data.batch%>" disabled />
        </div>
        <div class="fields">
          <label>phone Number :</label>
          <input type="text" value="<%=data.phoneno%>" disabled />
        </div>
        <div class="fields">
          <label>Email:</label>
          <input type="text" value="<%=data.email%>" disabled />
        </div>
      </div>
    </div>
  </body>
</html>
